<!DOCTYPE html>
{% load static %}
<html>
    <head>
    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
    </head>
    <body>
        <div class='image-container'
            <h1>Post Dinosaur</h1>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="button-position">
                <button class='button-decoration'><a href="/">Back</a></button>
                <button class="button-decoration" type="submit">Submit</button>
              </div>
            </form>
        </div>
        <script src="" async defer></script>
    </body>
</html>